
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for your order with Jungle.com!</h1>
    <p>
      You have successfully ordered our awesome products! Good for you!
    </p>
    <p>
      Find more details about your order in your Jungle account.
    </p>
    <p>Thanks for your order and have a great day!</p>
  </body>
</html>